*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f0efed;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}
.title{
    height: 50.5px;
    background-color: #FFD000;
    line-height: 50.5px;
}
.title .place{
    color: #222222;
    width: 75.4px;
    padding-left: 18.5px;
    float: left;
}
.title .search input{
    margin-top: 9.25px;
    height: 32px;
    width: 1139px;
    border-radius: 10px;
    border: none;
    font-size: 13px;
    font-weight: 550;
    margin-left: -10px;
    background-color: #ffffff;
    opacity: 0.9;
    float: left;
}
.title .zhanghu img{
    height: 24px;
    width: 24px;
    /* position: absolute;
    top: 9.25px; */
    margin: 12px 8px;
    
}
.download{
    height: 52px;
    background-color: #000000;
    color: #333333;
}
.download{
    position: relative;
    /* padding: 8px 0px 8px 15px; */
}
.download img{
    height: 36px;
    width: 36px;
    position: absolute;
    top: 8px;
    left: 15px;
}
.download .con1{
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
    color: #ffffff;
    position: absolute;
    top: 8px;
    left: 61px;
    font-size: 13px;
}
.download .con2{
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
    color: #ffffff;
    position: absolute;
    top: 27px;
    left: 61px;
    font-size: 11px;
    font-weight: 300;
}
.download button{
    height: 30px;
    width: 55px;
    position: absolute;
    top: 11px;
    right: 29px;
    background-color: #FFD000;
    border: none;
    border-radius: 10px;
   font-size: 12px;
}
.divide{
    height: 165px;
    background-color: white;
}
.divide li{
    float: left;
    
}
.divide span{
    height: 40px;
    width: 40px;
    background-color: yellow;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}
