<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div>
            是否需要额外费用<input type="checkbox" v-model='incheck'>
            <ul v-show='incheck'>
                <li v-for="obj in list" >{{obj.name}}({{obj.price}})<input type="checkbox" v-model='list1':value="obj"></li>
            </ul>
        </div>
        <div>
            订单费用信息
            <ul v-show='list1'> 
                <li v-for="obj in list1" >{{obj.name}}({{obj.price}})</li>
            </ul>
            
        </div>
        <div>
            总金额{{total()}}
        </div>

    </div>
    <script src="./vue.js"></script>
    <script>
        new Vue({
            el:"#app",
            data:{
                list:[
                    {name:"沙发",price:40},
                    {name:"床",price:50},
                    {name:"洗漱用品",price:10}
                   
                ],
                list1:[{name:"群里花园豪华型",price:400}],
                incheck:false

            },
            methods:{
                total(){
                    let sum = 40;
                    this.list1.forEach((elem) => {
                        sum +=elem.price
                    });
                    return sum;
                }
            }
            
        })
    </script>
</body>
</html>